/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
/*Custom*/
.top-title {
    color: red;
    margin: 0;
    padding: 10px 0;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    font-weight: 400;
    box-shadow: 0px 1px 4px rgba(0,0,0,0.2);
}

.profile {
    display: flex;
    position: relative;
    align-items: center;
    padding: 12px 20px;
    background-color: grey;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
}

.left-content img {
    border-radius: 50%;
    max-width: 80%;
}

.right-content {
    margin-top: 5px;
    margin-right: 10px;
}

.greeting {
    background: tomato;
    color: white;
    padding: 6px 12px;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    user-select: none;
    position: relative;
}

.greeting:before {
        content: '';
        width: 0;
        height: 0;
        border: 6px solid;
        position: absolute;
        top: 100%;
        left: 0;
        border-color: transparent;
        border-top-color: tomato;
        border-left-color: tomato;
    }

 .my-name {
    font-weight: 200;
    margin-bottom: 0;
}

    .profile .my-name span {
        font-weight: 400;
    }
 .my-website a {
    font-weight: 300;
    font-size: 14px;
    color: rgb(15,49,82);
}

 .detail-infor {
    display: flex;
    margin-top: 1rem;
}

.profile .labels {
    font-weight: 600;
    margin-right: 2rem;
}

.bottom-content {
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translateX(-50%);
    background: tomato;
    width: 100%;
    padding: 7px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

 .bottom-content a {
    color: black;
    text-decoration: none;
    opacity: 0.8;
    transition: 200ms;
    font-size: 24px;
    margin: 0 10px;
}
 .bottom-content a:hover {
    opacity: 1;
}