﻿@page
@model userEditModel
@{
}

<div class="container record">
  
</div>

<script>
    var url = window.location.href;
    var id = url.split('=')[1];
    getUser(id).then(function (data) {
        var formEl = `  <form onsubmit='return onSubmit()'>
        <h2>User Form</h2>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="first">First Name</label>
                    <input type="text" name="firstName" value="${data.firstName}" class="form-control" placeholder="" id="first">
                </div>
            </div>
            <!--  col-md-6   -->
            <div class="col-md-6">
                <div class="form-group">
                    <label for="last">Last Name</label>
                    <input type="text" name="lastName" value="${data.lastName}" class="form-control" placeholder="" id="last">
                </div>
            </div>
            <!--  col-md-6   -->
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="company">Company</label>
                    <input type="text" name="company" value="${data.company}" class="form-control" placeholder="" id="company">
                </div>


            </div>
            <!--  col-md-6   -->

            <div class="col-md-6">

                <div class="form-group">
                    <label for="phone">Phone Number</label>
                    <input type="tel" name="phone" class="form-control" value="${data.phone}" id="phone" placeholder="phone">
                </div>
            </div>
            <!--  col-md-6   -->
        </div>
        <!--  row   -->


        <div class="row">
            <div class="col-md-6">

                <div class="form-group">
                    <label for="email">Email address</label>
                    <input type="email" name="email" class="form-control" value="${data.email}" id="email" placeholder="email">
                </div>
            </div>
            <!--  col-md-6   -->

            <div class="col-md-6">
                <div class="form-group">
                    <label for="url">Your Website <small>Please include http://</small></label>
                    <input type="url" name="url"  value="${data.url}" class="form-control" id="url" placeholder="url">
                </div>

            </div>
            <!--  col-md-6   -->
        </div>
        <!--  row   -->
        <button type="submit" id="addUser" class="btn btn-primary">Save Changes</button>
    </form>`;
        $('div.container.record').html(formEl);
    });


</script>

<script>
    function onSubmit() {
        var data = $('form').serializeArray()
            .reduce(function (a, x) { a[x.name] = x.value; return a; }, {});
        updateUser(data,id);
        return false; //don't submit
    }

</script>