﻿@page
@model UsersModel
@{
    ViewData["Title"] = "Users";
}
<h2></h2>

<div class="bs-example container" data-example-id="striped-table">
    <table class="table table-striped table-bordered table-hover">
        <caption>Users</caption>
        <a class="btn btn-primary" style="float:right" href="/">Create</a>
        <thead>
            <tr>
                <th>#</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody></tbody>

    </table>
</div>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                <h4 class="modal-title">User Detail</h4>
            </div>
            <div class="modal-body">
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
             
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<script>
    getUsers().then(function (data) {
        $('.table tbody').append(data);
    });
</script>